.container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.all {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5%;
}
h2 {
  text-align: center;
  font: bold 2em/1.5 cursive;
}
.card {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  & label {
    font: normal 1.1em cursive;
  }
}
span {
  display: flex;
  & * {
    font: normal 1.1em arial;
    border: 1px solid #ddd;
    padding: 5px;
    color: #333;
  }
  & select {
    border-radius: 10px 0 0 10px;
  }
  & input {
    border-radius: 0 10px 10px 0;
  }
}
